/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #272727;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  color: #FFE400;
}

.hero-subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
  color: #747474;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #FF652F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #14A76C;
}
